<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976774674289-vsrpeq0s5q51gi3j4q6urbl83434pjvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976774674289-vsrpeq0s5q51gi3j4q6urbl83434pjvb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976774674289-c2dt26g121kr5q1hfa595ebs9nal8cp0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmf2QFY-7D-jeyb0kDE-s_nH2hd4DWvxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>976774674289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.domasEcommerce</string>
	<key>PROJECT_ID</key>
	<string>do-mas-movil-app</string>
	<key>STORAGE_BUCKET</key>
	<string>do-mas-movil-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976774674289:ios:9e42bf75bfc0be433768d0</string>
	<key>DATABASE_URL</key>
	<string>https://do-mas-movil-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>